<div class="widget shadow">
  <div class="header bg-primary d-flex align-items-center justify-content-center py-10">
    <div class="header-icon"><img src="assets/images/icons/briefcase.png" alt="Transactions"></div>
    <span class="text-white font-18">Recent Transactions</span>
  </div>
  <div class="content bg-white p-10">
    <div class="content-header">
      <div class="d-flex">
        <peach-tree-text-input placeholder="Search by typing..."></peach-tree-text-input>
        <div>
          <span>Sort by</span>
        </div>
      </div>
    </div>
    <div class="content-scrollable">
      <peach-tree-transaction-table></peach-tree-transaction-table>
    </div>
  </div>
</div>
