<div class="widget shadow">
  <div class="header bg-primary d-flex align-items-center justify-content-center py-10">
    <div class="header-icon"><img src="assets/images/icons/briefcase.png" alt="Transactions"></div>
    <span class="text-white font-18">Recent Transactions</span>
  </div>
  <div class="content bg-white p-20">
    <div class="content-header">
      <div class="d-flex flex-column flex-md-row">
        <div class="flex-grow-1 pr-0 pr-md-30">
          <peach-tree-search-input (keywordChange)="keyword = $event"></peach-tree-search-input>
        </div>
        <div class="d-flex align-items-center justify-content-between justify-content-md-start my-20 mt-md-0">
          <span class="d-none d-md-block font-14 font-weight-medium mr-15 text-center">Sort by</span>
          <peach-tree-sort-group [options]="sortOptions" (sortChange)="sortChange($event)"></peach-tree-sort-group>
        </div>
      </div>
    </div>
    <div class="content-scrollable">
      <!-- filter and sorting is done on front end. prefer server side filtering and sorting -->
      <!-- we don't have pagination for it as long as we are playing with mock -->
      <peach-tree-transaction-table [transactions]="transactions$ | async | filter : keyword | sort : by : order"></peach-tree-transaction-table>
    </div>
  </div>
</div>
