<div class="widget shadow">
  <div class="header bg-primary d-flex align-items-center justify-content-center py-5">
    <div class="header-icon"><img src="assets/images/icons/arrows.png" alt="Transfer"></div>
    <span class="text-white">Make a Transfer</span>
  </div>
  <div class="content bg-white px-20 py-25">
    <form class="w-100" [formGroup]="form" (ngSubmit)="submit()" #formRef>
      <peach-tree-text-input label="FROM ACCOUNT" placeholder="Free Checking(4692) - {{ balance$ | async | currency }}" readonly="true"></peach-tree-text-input>
      <peach-tree-merchant-auto-complete-input label="TO ACCOUNT" placeholder="Georgia Power Electric Company" formControlName="toAccount"></peach-tree-merchant-auto-complete-input>
      <peach-tree-text-input type="number" prefix="$" label="AMOUNT" placeholder="0.00" formControlName="amount"></peach-tree-text-input>
      <div class="d-flex justify-content-end mt-30">
        <button class="btn btn-warning col-12 col-lg-5" aria-label="Submit">SUBMIT</button>
      </div>
    </form>
  </div>
</div>
