@import "variables";

@mixin pretty-scroll() {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(102, 102, 102, 0.3);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(102, 102, 102, 0.6);
  }
}
