// Colors
$eastern-blue: #0c8397;
$sun: #ee7033;
$mountain-meadow: #12a580;
$fire-brick: #c12020;

$coral: #ff8343;
$ruby: #d51271;
$buddha-gold: #c89616;
$dark-tangerine: #fbbb1b;
$cinnabar: #e25a2c;
$denim: #1180aa;
$timber-wolf: #d6d2ce;

$theme-colors: (
  primary: $eastern-blue,
  warning: $sun,
  success: $mountain-meadow,
  danger: $fire-brick
);

// Spacing
$pixel-spacer: 5px !default;
// stylelint-disable-next-line scss/dollar-variable-default
@for $i from 1 through 50 {
  $spacers: map-merge($spacers, (
    $i * 5: ($i * $pixel-spacer)
  ));
}

// Buttons
$btn-font-size: 15px;

// Forms
$input-bg: transparent;
$input-disabled-bg: transparent;
$input-border-radius: 0;
$input-border-width: 0;
$input-padding-x: 0;
$input-focus-box-shadow: none;
$input-font-size: 15px;
