.search-input {
  peach-tree-text-input::ng-deep {
    .form-group {
      margin-bottom: 0;
      .form-control {
        padding-right: 20px;
      }
    }
  }
  .close {
    position: absolute;
    right: 0;
    top: 6px;
    font-weight: 100;
    outline: none;
  }
}
